@model IEnumerable<Aula_MVC.Models.Aluno>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro do Aluno</h2>

<p>
    @Html.ActionLink("Incluir novo aluno", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprovado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inscricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprovado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inscricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.IDAluno }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDAluno }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDAluno })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Teste Aluno", "Teste")
</p>
