@model IEnumerable<Aula_MVC.Models.Topico>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Topico</h2>

<p>
    @Html.ActionLink("Cadastrar novo topico", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.IDTopico }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDTopico }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDTopico })
        </td>
    </tr>
}

</table>
